.displayNone{
  display: none;
}
.collapsed {
  max-height: 356px;
  overflow: hidden;
}
.personalResumeCollapse  {
  color: #0c40dd !important;
}

.personalResumeCollapse:hover  {
  cursor: pointer;
}

.testimonial_box_item{
  max-height: 275px;

}

